<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>TechDetect</title>
		<link rel="stylesheet" href="../static/style.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>TechDetect</h1>
				<ul>
					<li class="active"><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('pet')}}">Attendance</a></li>
					<li><a href="{{url_for('pets')}}">Students</a></li>
					<li><a href="{{url_for('logout')}}">Log Out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Database Viewer </h2>						
				</div></br></br>
				<div class="contentbar">
					<div class="jumbotron">
						<h1>GTRI TechDetect</h1>
						<p class="lead">GTRI TechDetect is a free program that brings Augmented Reality to the classroom and other professional enviroments, allowing Teachers and other workplace professionals to keep track of their attendance records, as well as take advantage of a plethora of other AR-powered features included in the app.</p>
						<p><a href="https://github.com/" class="btn btn-primary btn-large">Learn more about GTRI &raquo;</a></p>
					</div>
					
					
						<img src="glacier.jpg" alt="Early screenshot of the program">
					
					
					<div class="row">
						<div class="col-md-4">
							<h2>Download and Get Started</h2>
							<p>
								TechDetect is very simple to download and setup, and uses local databases to keep your information secure.
							</p>
							<p><a class="btn btn-default" href="https://github.com/">Download now &raquo;</a></p>
						</div>
						<div class="col-md-4">
							<h2>Setup Guide</h2>
							<p>Click below for a fast and efficient setup guide, showing step by step instructions of installation, and any dependencies required for the project.</p>
							<p><a class="btn btn-default" href="https://github.com">Learn more &raquo;</a></p>
						</div>
						<div class="col-md-4">
							<h2>About GTRI</h2>
							<p>The Georgia Tech Research Institute (GTRI) is the nonprofit, applied research division of the Georgia Institute of Technology (Georgia Tech). Founded in 1934 as the Engineering Experiment Station, GTRI has grown to more than 2,800 employees supporting eight laboratories in over 20 locations around the country, and performs more than $782 million of problem-solving research annually for government and industry.</p>
							<p><a class="btn btn-default" href="https://www.gtri.gatech.edu/">Learn more &raquo;</a></p>
						</div>
					</div>
				
			</div>
			
		</div>

	</body>
</html>
